langchain
pypdf
langchain_community==0.2.6
fastembed==0.3.2
chromadb
fastapi
python-multipart
pandas
pytube
moviepy
fpdf
SpeechRecognition
googletrans
gtts
pyttsx3
streamlit-chat
streamlit
pysqlite3-binary